---
title: example
layout: base.njk

products: 
  - rating: ⭐⭐⭐⭐⭐
    image: /public/elephant-1822636_1280.jpg
    title: feeeel
    description: teeeeeeeeeeeeeeeeeeeestttttttttttt
    features: perfect
    price: "3000"
    whatsapp: https://wa.me/qr/
    
  - rating: ⭐⭐⭐⭐⭐
    image: /public/elephant-1822636_1280.jpg
    title: feeeel
    description: try to do some thing goooood
    features: perfect
    price: "3000"
    whatsapp: https://wa.me/qr/
    

---

<div class="social-buttons">
  <a href="https://facebook.com">
    <img class="icon" src="facebook.png">
  </a>
  <a href="https://www.instagram.com/ahmad_gzaleh?igsh=MTZoa3MzeTY1b2llYg==" target="_blank">
    <img class="icon" src="instagrm.png">
  </a>
</div>