---
title: example
layout: base.njk



---

<div class="social-buttons">
  <a href="https://facebook.com">
    <img class="icon" src="facebook.png">
  </a>
  <a href="https://www.instagram.com/ahmad_gzaleh?igsh=MTZoa3MzeTY1b2llYg==" target="_blank">
    <img class="icon" src="instagrm.png">
  </a>
</div>